.cell {
  margin: 1px;
  vertical-align: top;
}

img {
  width: 50px;
  height: 50px;
}

div {
  /*display: inline-block;*/
}

#container {
    background-color: green;
    /*margin-left: : 40px;
    margin-top: 20px;*/
    border-style: solid;
}


#player1_box {
    width: 100px;
    height: 550px;
    background-color: brown;
}

#player2_box {
    width: 100px;
    height: 550px;
    background-color: green;
}
